.rapSpliter{
	position: relative;
	border: solid 1px #bab;
}
.panel1H{
	left:0px;
}
.panel2H{
	right:0px;
}
.panel1V{
	top:0px;
}
.panel2V{
	bottom:0px;
}
.panel1H,
.panel2H{
	height:100%;
}
.panel1V,
.panel2V{
	width:100%;
}
.panel1H,
.panel2H,
.panel1V,
.panel2V{
	overflow: hidden;
	position: absolute;
}
.spliterH{
	position: absolute;
	height:100%;
	cursor:col-resize;
	border: solid 1px #bab;
}
.spliterV{
	position: absolute;
	width:100%;
	cursor:row-resize;
	border: solid 1px #bab;
}
